<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:>

<html>

<head>
    <title>Управление пользователями</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>

<div class="fluid-container">
    <nav>
        <div th:replace="~{header-menu :: headermenu(adminUser)}">
        </div>
    </nav>
</div>



<h1>Список продуктов</h1>

<div class="container" th:align="center">
    <br>
<table th:align="center" class="table table-sm table-bordered border-primary table-striped align-middle" style="width: fit-content">
    <thead class="table-primary">
        <tr th:align="center">
            <td>Имя</td>
            <td>Роли</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr th:each="user:${listusers}" th:align="center">
            <td th:text="${user.name}" class="col-6"></td>
            <td th:text="${user.roles}" class="col-3"></td>
            <td class="col-3"> <a class="btn btn-primary btn-lg" th:href="@{'/user/admin/' +${user.id}}" role="button">Редактировать</a></td>
        </tr>
    </tbody>
</table>
    <th:block th:each="page:${pages}">
        <a th:href="@{'/product/findall/' + ${page}+'/0'}" th:text="${page}"> </a>
    </th:block>
</div>

<div class="container" th:align="center">
    <form th:action="@{/user/processForm}" th:object="${check}" method="post">
        <table>
            <br>
            <tr hidden>
                <div class='is-node custom-form'>
                    <td><label>Id: </label></td><td><input type="text" th:field="${userinfo.id}"/></td>
                </div>
            </tr>
            <tr>
                <div disable class='is-node custom-form'>
                    <td><label>Имя пользователя: </label></td><td><input type="text" th:field="${userinfo.name}"/></td>
                </div>
            </tr>
            <tr>
                <div class='is-node custom-form'>
                    <td><label>Пароль: </label></td><td><input type="password" th:field="${userinfo.password}"/></td>
                </div>
            </tr>
            <tr>
                <div class='is-node custom-form'>
                    <td><label>email: </label></td><td><input type="text" th:field="${userinfo.email}"/></td>
                </div>
            </tr>
            <tr>
               <td>
                   <label th:for="singleCheckboxField" th:text="'USER_ROLE:'"></label>
               </td>
                <td>
                    <input type="checkbox" th:field="${check.userRole}" />
                </td>
            </tr>
            <tr>
                <td> <label th:for="singleCheckboxField" th:text="'MANAGER_ROLE:'"></label></td>
                <td> <input type="checkbox" th:field="${check.managerRole}"/> </td>
            </tr>
            <tr>
                <td>
                    <label th:for="singleCheckboxField" th:text="'ADMIN_ROLE:'"></label>
                </td>
                <td>
                    <input type="checkbox" th:field="${check.adminRole}" />
                </td>
            </tr>
            <tr>
                <td>
                    <label th:for="singleCheckboxField" th:text="'ROOT_ROLE:'"></label>
                </td>
                <td>
                    <input type="checkbox" th:field="${check.rootRole}" />
                </td>
            </tr>

            <tr>
                <td><input name="submit" type="submit" value="submit" />></td>
            </tr>

        </table>

    </form>
</div>

</body>
</html>